/* utility */

:root {
    --color-bg-search-bar: #e5e5e5;
    --color-bg-body: #f8f9fa;
    --color-side-bar: #0f263d;
    --color-nav-bar: #1b72e8;
}
body {
    font-family: 'Roboto', sans-serif;
}
.webapp_wrapper {
    width: 100%;
    height: 100vh;
}
#navbar {
    width: 100%;
    height: 80px;
}
main {
    width: 100%;
    height: calc(100% - 80px);
}
#sidebar {
    background-image: url(../img/sidebar-bg.png);
    width: 150px;
    height: 100%;
}
#main_box {
    width: calc(100% - 150px);
    height: 100%;
}


/* colors */

.bg_searchbar {
    background-color: var(--color-bg-search-bar);
}
.bg_body {
    background-color: var(--color-bg-body);
}
.bg_sidebar {
    background-color: var(--color-side-bar);
}
.bg_navbar {
    background-color: var(--color-nav-bar);
}